<p>login works!</p>



<mat-card class='login-form'>

  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  
  <mat-form-field>
    <mat-label>Identity</mat-label>
    <mat-select [(value)]="identity">

        <mat-option value="customer_home">customer(home)</mat-option>
        <mat-option value="customer_business">customer(business)</mat-option>
        <mat-option value="salesperson">salesperson</mat-option>

    </mat-select>
  </mat-form-field>


    <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>

  
  <mat-card-actions>

      <button mat-raised-button (click)="login()" color="primary">Login</button>
      <button mat-raised-button (click)="openRegisterDialog()">register</button>
    </mat-card-actions>
</mat-card>
