<app-salesperson-nav></app-salesperson-nav>

<p>all regions</p>
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="rname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> address </th>
      <td mat-cell *matCellDef="let region"> {{region.rname}} </td>
    </ng-container>
    <ng-container matColumnDef="rmanager">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> manager's salespersonid </th>
      <td mat-cell *matCellDef="let region"> {{region.rmanagerid}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>


<p>How do the various regions compare by sales volume?</p>
<table border="1">
  <thead>
  <tr>
   <th *ngFor="let column of columnHeaders_regionsales_name">
          {{column}}
      </th>
  </tr>
  </thead>
  <tbody>
     <tr  *ngFor="let item of regionsales">
     <td *ngFor="let column of columnHeaders_regionsales" title="{{item[column]}}">
          <div>{{item[column]}}</div>

        </td>
     </tr>
  </tbody>
</table>
